# Project exclude paths
/02-MyBatis-01-Start/target/
/02-MyBatis-02-More-Mapper/target/
/02-MyBatis-03-Character/target/
/02-MyBatis-04-Plaseholder/target/
/02-Mybatis-05-Properties/target/
/02-MyBatis-06-Alias/target/
/02-MyBatis-07-Log/target/
/02-MyBatis-08-Bind1/target/
/02-MyBatis-09-CRUD/target/
# Project exclude paths
/02-MyBatis-10-Util/target/
/02-MyBatis-11-ORM/target/
/02-MyBatis-12-Multi-Table/target/