<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件，namespace命名空间：对应一个完全的全限定名，必须和对应的接口的路径相匹配-->
<mapper namespace="com.fc.dao.StudentDao">
    <select id="findAll" resultType="Student">
        select * from student
    </select>
    <select id="findById" resultType="Student" parameterType="Integer">
        select * from student where id=#{id}
    </select>
    <insert id="insert">
        insert into student(name, age, gender, birthday, info) values(#{name}, #{age}, #{gender}, #{birthday}, #{info})
    </insert>
    <delete id="delete" parameterType="Integer">
        delete from student where id =#{id}
    </delete>
    <select id="findByKeyword" resultType="Student">
        select * from student where name like #{keyword}
    </select>
    <update id="update">
        update student set info = #{info} where id = #{id}
    </update>

</mapper>