<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件，namespace命名空间：对应一个完全的全限定名，必须和对应的接口的路径相匹配-->
<mapper namespace="com.fc.dao.StudentDao">
<!--
&lt 小于
&gt 大于
<![CDATA[ 这里写啥就会输出啥]>
#{age}防止sql注入
-->
<!--    <select id="findLessThanAge" resultType="com.fc.entity.Student" parameterType="Integer">-->
<!--        select * from student where age &lt;= #{age}-->
<!--    </select>-->
<!--    <select id="findGreaterThanAge" parameterType="Integer" resultType="com.fc.entity.Student">-->
<!--        select * from student where age &gt; = #{age}-->
<!--    </select>-->
<!--    <select id="big" resultType="com.fc.entity.Student" parameterType="Integer">-->
<!--        select * from where age <![CDATA[>]]> #{age}-->
<!--    </select>-->
<!--    <select id="list" resultType="com.fc.entity.Student" parameterType="Integer">-->
<!--        select * from where age <![CDATA[<]]> #{age}-->
<!--    </select>-->
<select id="findLessThanAge" resultType="com.fc.entity.Student" parameterType="Integer">
select * from student where age &lt;=#{age}
</select>
    <select id="findGreaterThanAge" resultType="com.fc.entity.Student" parameterType="Integer" >
        select * from  student where age <![CDATA[>]]> #{age}
    </select>
    <select id="big" parameterType="Integer" resultType="com.fc.entity.Student">
        select * from student where  age &gt;=#{age}
    </select>
    <select id="list" parameterType="Integer" resultType="com.fc.entity.Student">
        select * from student where age <![CDATA[=]]> #{age}
    </select>

</mapper>